# MongoDB Configuration
MONGO_HOST=your_mongodb_host
MONGO_PORT=27017
MONGO_USERNAME=your_username
MONGO_PASSWORD=your_password
MONGO_AUTH_DB=admin
MONGO_DATABASE=your_database
MONGO_COLLECTION=summary

# Directory Paths
DOCS_DIR=docs
LOGS_DIR=logs
DATA_DIR=data

# Logging Configuration
LOG_LEVEL=INFO
